allow init node:tcp_socket node_bind;
allow init port:tcp_socket name_bind;
allow init self:tcp_socket { bind create setopt accept listen };
allow init self:tcp_socket { write read connect shutdown };
allow init logd:process ptrace;
allow init block_device:blk_file create;
allow init self:process setcurrent;
allow init self:rawip_socket { getopt create setopt };
allow init shared_relro:process { dyntransition setpgid };
allow init system_app:process setpgid;
allow init system_server:process { dyntransition getpgid };
allow init vfat:dir { write remove_name add_name };
allow init vfat:file { write create unlink append };
allow init platform_app:process { dyntransition setpgid };
allow init system_app:process dyntransition;
allow init oemfs:blk_file { read getattr open ioctl };
allow init oemfs:dir { mounton };
allow init kernel:system syslog_read;
allow init radio:process { dyntransition setpgid };
allow init bluetooth:process { dyntransition setpgid };
allow init untrusted_app:process { dyntransition setpgid };
allow init ccci_fsd_exec:file getattr;
allow init ccci_mdinit_exec:file getattr;
allow init conn_launcher_exec:file getattr;
allow init mnld_exec:file getattr;
allow init msensord_exec:file getattr;
allow init mtk_agpsd_exec:file getattr;
allow init nvram_daemon_exec:file getattr;
allow init thermal_manager_exec:file getattr;
allow init wmt_loader_exec:file getattr;
allow init ccci_mdinit_exec:file execute;
allow init conn_launcher_exec:file execute;
allow init mnld_exec:file execute;
allow init mnld_socket:sock_file create;
allow init mtk_agpsd_exec:file execute;
