allow init node:tcp_socket node_bind;
allow init port:tcp_socket name_bind;
allow init self:tcp_socket { bind create setopt accept listen };
allow init self:tcp_socket { write read connect shutdown };
allow init logd:process ptrace;
allow init block_device:blk_file create;
allow init self:process setcurrent;
allow init self:rawip_socket { getopt create setopt };
allow init shared_relro:process { dyntransition setpgid };
allow init system_app:process setpgid;
allow init system_server:process { dyntransition getpgid };
allow init vfat:dir { write remove_name add_name };
allow init vfat:file { write create unlink append };
allow init platform_app:process { dyntransition setpgid };
allow init system_app:process dyntransition;
allow init oemfs:blk_file { read getattr open ioctl };
allow init oemfs:dir { mounton };
allow init kernel:system syslog_read;
allow init radio:process { dyntransition setpgid };
allow init bluetooth:process { dyntransition setpgid };
allow init untrusted_app:process { dyntransition setpgid };
allow init ccci_fsd_exec:file getattr;
allow init ccci_mdinit_exec:file getattr;
allow init conn_launcher_exec:file getattr;
allow init mnld_exec:file getattr;
allow init msensord_exec:file getattr;
allow init mtk_agpsd_exec:file getattr;
allow init nvram_daemon_exec:file getattr;
allow init thermal_manager_exec:file getattr;
allow init wmt_loader_exec:file getattr;
allow init ccci_mdinit_exec:file execute;
allow init conn_launcher_exec:file execute;
allow init mnld_exec:file execute;
allow init mnld_socket:sock_file create;
allow init mtk_agpsd_exec:file execute;
allow init ccci_mdinit_exec:file { read open };
allow init conn_launcher_exec:file { read open };
allow init mnld_exec:file { read open };
allow init mnld_socket:sock_file unlink;
allow init mtk_agpsd_exec:file { read open };
allow init ccci_fsd_exec:file execute;
allow init ccci_mdinit_exec:file execute_no_trans;
allow init conn_launcher_exec:file execute_no_trans;
allow init mnld_exec:file execute_no_trans;
allow init mnld_socket:sock_file setattr;
allow init mtk_agpsd_exec:file execute_no_trans;
allow init agps_device:chr_file write;
allow init agpsd_data_file:sock_file write;
allow init ccci_fsd_exec:file { read open };
allow init msensord_exec:file execute;
allow init nvram_daemon_exec:file execute;
allow init thermal_manager_exec:file execute;
allow init wmt_loader_exec:file execute;
allow init agps_device:chr_file ioctl;
allow init ccci_fsd_exec:file execute_no_trans;
allow init msensord_exec:file { read open };
allow init nvram_daemon_exec:file { read open };
allow init sysfs_msensord_daemon_file:file relabelto;
allow init sysfs_sensor_file:dir relabelto;
allow init sysfs_sensor_file:file relabelto;
allow init thermal_manager_exec:file { read open };
allow init wmt_loader_exec:file { read open };
allow init ccci_device:chr_file write;
allow init msensord_exec:file execute_no_trans;
allow init nvram_daemon_exec:file execute_no_trans;
allow init sysfs_sensor_file:file setattr;
allow init thermal_manager_exec:file execute_no_trans;
allow init wmt_loader_exec:file execute_no_trans;
allow init ccci_device:chr_file ioctl;
allow init nvram_device:blk_file write;
allow init property_socket:sock_file write;
allow init sysfs_msensord_daemon_file:file read;
allow init wmtdetect_device:chr_file write;
allow init ccci_monitor_device:chr_file write;
allow init gsensor_device:chr_file ioctl;
allow init gyroscope_device:chr_file ioctl;
allow init mtk_adc_cali_device:chr_file write;
allow init sysfs_msensord_daemon_file:file open;
allow init wmtdetect_device:chr_file ioctl;
allow init bmc156d_exec:file getattr;
allow init ccci_monitor_device:chr_file ioctl;
allow init mtk_adc_cali_device:chr_file ioctl;
allow init stpwmt_device:chr_file write;
allow init wmtWifi_device:chr_file write;
allow init bmc156d_exec:file execute;
allow init gsm0710muxd_exec:file getattr;
allow init stpwmt_device:chr_file ioctl;
allow init bmc156d_exec:file { read open };
allow init gsm0710muxd_exec:file execute;
allow init bmc156d_exec:file execute_no_trans;
allow init gsm0710muxd_exec:file { read open };
allow init gsm0710muxd_exec:file execute_no_trans;
allow init msensor_device:chr_file write;
allow init sysfs_sensor_file:file { read write };
allow init gsm0710muxd_device:chr_file write;
allow init msensor_device:chr_file ioctl;
allow init sysfs_sensor_file:file open;
allow init devpts:chr_file setattr;
allow init mtkrild_exec:file getattr;
allow init mtkrild_exec:file execute;
allow init mtkrild_exec:file { read open };
allow init mtkrild_exec:file execute_no_trans;
allow init Vcodec_device:chr_file write;
allow init devpts:chr_file ioctl;
allow init devmap_device:chr_file ioctl;
allow init shell_exec:file execute_no_trans;
